html {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    color: red;
    font-family: Helvetica;
}

body {
    margin-left: 350;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    
}

.top {
    display:inline;
    
}

.top p{
    color: grey;
    background-color: grey;
}